<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Up and Go</title>
    <script src="http://www.parsecdn.com/js/parse-1.2.18.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.20/angular.min.js"></script>
    <script src="media/js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <link href="media/css/bootstrap-journal.css" rel="stylesheet">
     <link href="media/css/upAndGo.css" rel="stylesheet">
     <!-- Custom CSS -->
    <link href="media/css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="media/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]--> 
    
  </head>


<body ng-app="AuthApp">

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="#top">Up and Go</a>
            </li>
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="##portfol">Resources at IIT</a>
            </li>
            <li>
                <a href="#comments">Comments</a>
            </li>
            <li>
                <a ng-click="logOut()" ng-show="currentUser" href="#top">Log Out</a>
            </li>
             <li>
                <a href="#portfolio">Contact Us</a>
            </li>
        </ul>
    </nav>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Up and Go</h1>
            <h3>A Site for Budding IIT Enterprenuers</h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
            <a href="#comments" class="btn btn-dark btn-lg">Leave us a Comment</a>
        </div>

       <!-- Login Box -->

       <div   class="col-xs-7" ng-hide="currentUser">
              <!-- Login Form -->
        <form  ng-show="scenario=='Log in'" class="form-incline" >

              <legend class="legend"><center><strong>Login</strong></center></legend>

              <div class="container-fluid">
              <input type="text" ng-model="user.email" class="form-control input-block-level"placeholder="IIT Email">
              
              <input type="password" ng-model="user.password" class="form-control input-block-level" placeholder="Password">
              
              <button class="btn btn-default" ng-click="logIn(user)">Login</button>
              
              
              <button ng-click='scenario="Sign up"'
              class="btn btn-default"> Sign up</button>

              </div>          
        </form>
              <!-- Sign Up Form -->
        <form  ng-show="scenario=='Sign up'" class="form-incline" >
              

              

              <legend class="legend"><center><strong>Sign Up</strong></center></legend>

              <div class="container-fluid">
              
              <input type="text" ng-model="user.firstName" class="form-control input-block-level"placeholder="First Name">
              
              <input type="text" ng-model="user.lastName" class="form-control input-block-level"placeholder="Last Name">
              
              <input type="email" ng-model="user.email" class="form-control input-block-level"placeholder="IIT Email">

              <input type="text" ng-model="user.cwid" class="form-control input-block-level"placeholder="Campus ID">
              
              <input type="password" ng-model="user.password" class="form-control input-block-level" placeholder="Password">

              <input type="password" ng-model="user.cpassword" class="form-control input-block-level" placeholder="Confirm Password">
              
              <button class="btn btn-default" ng-click="signUp(user)">Sign up</button>
              
              
              <button ng-click='scenario="Log in"'
              class="btn btn-default"> Login</button>
              
              </div>          
        </form>

       
        
        </div>

        <button ng-show="currentUser" ng-click="logOut()" class="btn btn-default" >Log Out</button>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Us</h2>
                    <p class="lead">Up and Go is a IIT student venture to encourage and help student entreprenuers. There are several incubators in Chicago. Up and Go is a platform that unites all the incubators to encourage collabration amongst start-ups. Up and go also aims to serve as forum for open dialouge between student entreprenuers.  
                    </p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Chicago Incubators</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Idea Shop</strong>
                                </h4>
                                <p>Our very own IIT start-up incubator.<br>

                                </p>
                                <a href="http://www.ideashop-iit.org/" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>1871</strong>
                                </h4>
                                <p>A remarkable place where the most brilliant engineers and inventors came together to build a new city</p>                               
                                <a href="http://www.1871.com/" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-flask fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Catalyze</strong>
                                </h4>
                                <p>If you are an entrepreneur in Chicago and need a place to prototype, look no further</p>
                                <a href="http://www.catalyzechicago.org/" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>TechnNexus</strong>
                                </h4>
                                <p>We jumpstart corporate engagement with tech entreprenuers.</p>
                                <a href="http://www.technexus.com/" class="btn btn-light">Learn More</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Callout -->
     <aside class="call-to-action bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                </div>
            </div>
        </div>
    </aside>
    <hr/>
    <!-- Comments Section -->
    <section  id="comments" >
  <div class="container-fluid">
  <legend class="legend"><center>Comments and Thoughts</center></legend>
    <div ng-controller="CommentCtrl" class= "well" >
         <center class="well" ng-repeat="oldComment in commentsArray">
           <label class="pull-left">{{oldComment.commentator.firstName}} {{oldComment.commentator.lastName}}  </label> <br>
           <p>{{oldComment.comment}}</p><br>
           <label class="pull-left">{{oldComment.createdAt}}</label> <br>
          
         
             
    </center> 
          
    </div>
    <div class="container-fluid">
      <center  ng-show="currentUser" >
              <p>Your thoughts and comments       "   {{newComment}}   "</p>
             <textarea class="form-control" rows="3" ng-model="newComment" type="text" placeholder="Enter your Thoughts" ></textarea> <br>
             <button class="btn btn-default" ng-click="commentSubmit()"> Submit Comment </button>


      </center> 
      <center ng-show="!currentUser">
         <a href="#top" ng-click='scenario="Sign up"'
              class="btn btn-default"> Sign up</a>
                <a href="#top" ng-click='scenario="Log in"'
              class="btn btn-default"> Login</a>
      </center>
    </div>
    </div>
    </section>
<hr/>
    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h2>Resources and People at IIT</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-controller="TabsDemoCtrl">
                                
                          
                                <tabset>
                                  <tab heading="Jules F. Knapp Center">Jules F. Knapp Entrepreneurship Center offers a wide variety of supportive services for start-up and existing small businesses located in and around  Illinois Institute of Technology. The Center is committed to helping neighborhood businesses grow and thrive, as well as helping the  IIT students, alumni, faculty, and staff bring new ideas and services to life. 

                                  For nearly 125 years, IIT has been teaching, developing, and coaching the best engineering, legal, architectural science, and business minds to improve the world we live in. The Jules F. Knapp Entrepreneurship Center is yet another very important resource that demonstrates IIT’s commitment to improving life for all humankind.

                                  To arrange a confidential meeting with a Knapp Center Business Consultant, please call 312.567.3893 to arrange an appointment.  Download and complete the client <a href="http://iit.edu/knapp_center/pdf/K-1_client_registration_form.pdf">enrollment</a> form and bring it with you to your first appointment.</tab>


                                  <tab heading="Donna Rockin">
                                 
                                  <br>
                                  Donna Rockin is Executive Director and Advisory Board Secretary of the Jules F. Knapp Entrepreneurship Center. Prior to joining IIT’s Jules F. Knapp Entrepreneurship Center, Donna Rockin ran a very successful Illinois Small Business Development Center at JVS Chicago.

                                  <br>
                                  Email: drockin@iit.edu
                                  <br>
                                  <a href="http://www.linkedin.com/pub/donna-rockin/b/aa0/b1a">Linkedin</a>
                                    
                                  </tab>

                                  <tab heading="Nik Rokop">
                             
                                  <br>
                                  As a life-long entrepreneur, advisor to and investor in entrepreneurial ventures, Rokop has a passion for creating new businesses and helping others succeed. Rokop is past President & CEO of nLake Technology Partners, a management, business development, and technology commercialization group specializing in nanotechnology. He has more than 20 years of successful entrepreneurial experience in engineering, manufacturing, sales, marketing, and international operations. His career spans the iron and steel industries, manufacturing, consulting and the Internet.

                                  <br>
                                  Email  : nrokop@stuart.iit.edu <br>
                                  Phone  : 312.567.3030 <br>
                                  Office : Main Campus, IIT Tower, 13C3-1 <br>
                                  <a href="http://www.linkedin.com/in/nikrokop">Linkedin</a>

                                    
                                  </tab>

                                  <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                                    {{tab.content}}
                                  </tab>
                                  
                                </tabset>

                                <hr />

                                
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                  
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Call to Action -->
   


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Up and Go</strong>
                    </h4>
                    <p>3201 S.State Street <br>Chicago, IL 60616</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (312)- 613-5680</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:name@example.com">pkumar6@hawk.iit.edu</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; Pranay Kumar 2014</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="media/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="media/js/bootstrap.min.js"></script>
     <!-- Login Script --> 
    <script src="controllers/login.js"></script>
    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>


</body>

  




    






  </html>